name: ci

on:
  schedule:
    - cron: '0 10 * * 1' # every first day of the month at 10am
  pull_request:
    branches: master
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: server/
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ secrets.DOCKER_REPO }}/snapdrop-server:${{ secrets.DOCKER_TAG }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: client/
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: ${{ secrets.DOCKER_REPO }}/snapdrop-client:${{ secrets.DOCKER_TAG }}          